$catalog-separator-color:#ebebeb;
// .catalog {
// }

.catalog__list {
  @include list();
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px 63px;
  }
  border-collapse: collapse;
}

.catalog__item {
  border-top: 1px solid $catalog-separator-color;
  border-bottom: 1px solid $catalog-separator-color;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
