// .category {
// }

.category__list {
  font-weight: 400;
}

.category__item {
  background-color: $bg-primary-color;
}

// .category__item--slim {
// }
// .category__item--heavy {
// }

.category__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 1em;
  }
}

.category__desc {
  @include index-text();
  color: $text-secondary-color;

  @media (min-width: 768px) {
    color: $text-color;
  }
}

.category__link {
  font-size: 16px;
  line-height: 1em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 1.5em;
  }
}
