// .category {
// }

.category__list {
  @include list();
  font-weight: 400;
}

.category__item {
  background-color: $bg-primary-color;
}

.category__item--slim::before {
  @include icon(67px, 53px, "slim");

  @media (min-width: 768px) {
    width: 200px;
    height: 210px;
  }

  @media (min-width: 1440px) {
    width: 100px;
    height: 106px;
  }
}

.category__item--heavy::before {
  @include icon(67px, 53px, "heavy");

  @media (min-width: 768px) {
    width: 268px;
    height: 200px;
  }

  @media (min-width: 1440px) {
    width: 134px;
    height: 100px;
  }
}

.category__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 1em;
  }
}

.category__desc {
  @include text();
  color: $text-secondary-color;

  @media (min-width: 768px) {
    color: $text-color;
  }
}

.category__link {
  font-size: 16px;
  line-height: 1em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;

  &::after {
    @include icon(67px, 53px, "arrow-small", center, left);
    background-size: 24px 12px;
  }

  &:hover::after,
  &:focus-visible::after {
    @include icon-bg-image("arrow-big");
    background-size: 32px 12px;
  }

  &:active {
    opacity: 0.3;

    &::after {
      @include icon-bg-image("arrow-big");
      background-size: 32px 12px;
    }
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 1.5em;
  }
}
