// .features {
// }

.features__title {
  margin: 0;
  padding-bottom: 40px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    line-height: 1em;
  }
}

.features__list {
  @include list();
  padding-bottom: 49px;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.features__item {
  @include text();
  display: flex;
  // flex-flow: row wrap;
  gap: 20px;
  align-items: center;
  color: $text-secondary-color;

  &::before {
    @include icon(60px, 60px);
    flex-shrink: 0;
    background-color: $bg-secondary-color;
    background-size: 26px 30px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 325px;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}

.features__item--icon-leaf::before {
  @include icon-bg-image("leaf");
}

.features__item--icon-water::before {
  @include icon-bg-image("water");
}

.features__item--icon-eat::before {
  @include icon-bg-image("eat");
}

.features__item--icon-clock::before {
  @include icon-bg-image("clock");
}
