.input-control {
  display: flex;
  gap: 13px;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: $text-secondary-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.input-control__label {
  flex-shrink: 0;
  align-self: center;
}

.input-control__label--input {
  max-width: 50%;
}

.input-control__input {
  padding: 13px;
  flex-basis: 100%;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: $text-color;
  border: 1px solid #e7e7e7;

  &:placeholder-shown {
    font-family: inherit;
    color: $text-secondary-color;
  }
}

.input-control__input--email {
  border-color: #cdcdcd;
}

.input-control__input--tel {
  border-color: #cdcdcd;
}

.input-control--textarea {
  padding: 14px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  border: 1px solid #e7e7e7;

  &:placeholder-shown {
    font-family: inherit;
    color: $text-secondary-color;
  }
}
