$live-example-separator-color: #e6e6e6;

.live-example {
  background-color: $bg-primary-color;

  // todo почитать про сложные фоны
  @media (min-width: $tablet-width) {
    border-top: 1px solid $live-example-separator-color;
  }
}

.live-example__container {
  padding: 25px 0 40px;

  @media (min-width: $tablet-width) {
    padding: 45px 0 100px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 500px 560px;
    grid-template-rows: repeat(4, auto);
  }
}

.live-example__title {
  margin: 0;
  padding-bottom: 40px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
    line-height: 1em;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 76px;
  }
}

.live-example__desc {
  @include text();
  padding-bottom: 20px;
  color: $text-secondary-color;

  @media (min-width: $tablet-width) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.live-example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 32px;

  @media (min-width: $tablet-width) {
    gap: 43px;
  }
}

.live-example__item {
  flex-basis: 124px;

  @media (min-width: $tablet-width) {
    flex-basis: 162px;
  }
}

.live-example__term {
  font-family: $font-secondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 1em;
  text-align: center;
  text-transform: lowercase;
  color: $text-secondary-color;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}

.live-example__value {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.live-example__item-total {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-color;

  @media (min-width: $tablet-width) {
    width: auto;
    flex-direction: column;
    margin-left: auto;
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    line-height: 20px;
    text-align: center;
  }
}

// .live-example__total-term {
// }

.live-example__total-value {
  margin: 0;
}

.live-example__slider {
  place-self: center center;

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
}
