.logo {
  display: flex;
  align-items: center;
  gap: 13px;
  text-decoration: none;
  color: #111111;

  &:hover,
  &:focus {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}

.logo__image {
  display: block;
}

.logo__text {
  display: block;
}
