.main-nav {
}

.main-nav__toggle {
}

.main-nav__list {
}

.main-nav__item {
}

.main-nav__link {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: $text-color;

  &:hover,
  &:focus {
    color: rgba($text-color, 0.6);
  }

  &:active {
    color: rgba($text-color, 0.3);
  }
}

.main-nav__link--current {
}
