.main-footer {
  @include container;
  padding: 40px 0;
  display: grid;
  align-items: center;
  background-color: $bg-primary-color;

  @media (min-width: $tablet-width) {
    padding: 55px 0;
    grid-template-columns: repeat(3, auto);
  }
}

.main-footer__logo {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: start;
  }
}

// .main-footer__social {
// }

// .main-footer__partner{

// }

.main-footer__partner-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 23px;
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: $text-secondary-color;

  &::after {
    @include icon-mask(27px,34px,"html-academy");
    background-color: $icon-color;
  }

  &:hover::after,
  &:focus-visible::after {
    background-color: $icon-color-hover;
  }

  &:active {
    opacity: 0.3;

    &::after {
      background-color: $icon-color-hover;
    }
  }

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}
