.product-card {
  // todo Проверить, какой вариант лучше
  // width: 100%;
  width: 280px;

  @media (min-width: 768px) {
    width: 324px;
    background-color: $bg-primary-color;
  }

  @media (min-width: 1440px) {
    width: 245px;
  }
}

.product-card--more {
  background-color: $bg-basic-color;

  @media (min-width: 768px) {
    border: 2px solid $bg-primary-color;
  }
}

// .product-card__link-image {
// }

// .product-card__image {
// }

.product-card__link-title {
  text-decoration: none;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-card__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $card-title-color;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-card__title--icon-plus {
  text-align: center;
  color: $card-title-secondary-color;
}

.product-card__desc {
  font-family: $font-secondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $text-secondary-color;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 18px;
  }
}

// .product-card__desc-inner-wrap {
// }

.product-card__desc-term {
  text-align: left;

  @media (min-width: 768px) {
    line-height: 20px;
  }
}

.product-card__desc-value {
  text-align: right;

  @media (min-width: 768px) {
    line-height: 20px;
  }
}

.product-card__button {
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}
