.section-subtitle {
  display: grid;
  grid-template-columns: 1fr $content-width-mobile 1fr;
  grid-template-rows: auto;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;

  &::after {
    content: "";
    margin-bottom: 4px;
    border: 1px solid $bg-secondary-color;
    grid-column: 2/-1;
    grid-row: 1;
    z-index: -1;

    @media (min-width: $tablet-width) {
      grid-column: 1/-1;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr $content-width-tablet 1fr;
    font-size: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr $content-width-desktop 1fr;
    font-size: 40px;
  }
}

.section-subtitle__text {
  grid-column: 2/3;
  grid-row: 1;
  padding-right: 40px;
  margin: 0;
  margin-right: auto;
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;

  background-color: $bg-basic-color;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
  }
}
