// .subscribe {
// }

// .subscribe__title {
// }

.subscribe__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 32px;
  }
}

// .subscribe__form {
// }

// .subscribe__form-input {
// }

.subscribe__form-button {
  font-size: 20px;
  line-height: 26px;
}
