// .subscribe {
// }

// .subscribe__title {
// }

.subscribe__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

// .subscribe__form {
// }

// .subscribe__form-input {
// }

// .subscribe__form-button {
// }
